* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f4f6f8;
        color: #333;
        line-height: 1.6;
            }  
        

            header{
        background-color: #005c97;
        color: white;
        padding: 2rem;
        text-align: center;
            }

            header h1 {
                margin-bottom: 0.5rem;
            }


            main {
        padding: 2rem;
            }


            .indicadores h2 {
                text-align: center;
                margin-bottom: 1.5rem;
            }


            .cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
                gap: 1.5rem;
            }


            .card {
                background-color: white;
                padding: 1.5rem;
                border-radius: 8px;
                box-shadow: 0 2px 6px rgba(0,0,0,0,1);
            }


            .card h3 {
                margin-bottom: 0.5rem;
                color: #005c97;
            }


            footer {
                background-color: #eaeaea;
                text-align: center;
                padding: 1rem;
                margin-top: 2rem;
                font-size: 0.9rem;
            }
            
